PORT=3000
API_PREFIX=api
NODE_ENV=development
APP_FRONTEND_URL=http://localhost:5173

# Cấu hình SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
MAIL_FROM="LOHA SALES" <no-reply@loha.vn>
